<div class="basket">
  <% if basket.present? %>

  <h2> <%= basket.name %> </h2>
  <p> Description du panier : <%= basket.content %></p>
  <% if basket.exceptional_sale %>
    Vente exceptionnelle : <%= basket.exceptional_sale_content %>
  <% end %>
  <p> Nombre de paniers déjà commandés : <%= basket.orders.count %> </p>
  <p> Nombre de paniers restants disponibles : <%= basket.limit_max_baskets - basket.orders.count %> </p>
<% end %>
<% if Current.customer && Current.customer.admin? %>
  <p>Espace administrateur </p>
  Liste des commandes effectuées :
   <ul>
      <% basket.orders_sort_by_time.each do |order| %>
          <li>
            <%= order.customer.first_name + " " + order.customer.last_name + "      -      Commandé le : " + order.created_at.to_s %>
          </li>
      <% end %>
  </ul>   
<% elsif Current.customer %>
  <p>Espace customer : <%= Current.customer.first_name %> </p>
  <% if Current.customer.baskets.include? basket %>
    Panier commandé, je m'engage à venir le chercher à la date du <%= basket.date %>.
    <p> Si je ne peux plus honorer ma commande et souhaite me désinscrire (si possible prévenir le plus tôt possible): <%= button_to "J'annule ma commande", cancel_order_basket_path(id: basket.id) %></p>
  <% else %>
    <% if basket.orders.count < basket.limit_max_baskets %>
      Panier non commandé.
      <%= button_to "Je commande le panier", new_order_basket_path(id: basket.id) %>
    <% else %>
      Il n'y a malheureusement plus de paniers disponibles.
     <% end %>
  <% end %>
<% else %>
  <p> Je m'identifie pour commander le panier </p>
<% end %>

</div>