<%= form_for @basket, class: "signupForm" do |f| %>
    <%= f.label :content, "Contenu du panier" %>
    <%= f.text_area :content, class: "longInput" %> <br />
  
    <%= f.label :date, "date" %>
    <%= f.date_select :date %> <br />
  
    <%= f.label "limite du nombre de paniers" %>
    <%= f.number_field :limit_max_baskets, :input_html => { :value => 30 } %> <br />

    <%= f.label "Vente exceptionnelle" %>
    <%= f.boolean :exceptional_sale, :input_html => { :value => false } %> <br />

    <%= f.label "Contenu de la vente exceptionnelle" %>
    <%= f.text_area :exceptional_sale_content %> <br />
  
    <%= f.submit "Créer le panier", class: "button createAccount" %>
  <% end %>

<%= simple_form_for basket, html: { class: "basket form" } do |f| %>
  <% if basket.errors.any? %>
    <div class="error-message">
      <%= basket.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
<% end %>