<!DOCTYPE html>
<html>
  <title>Le jardin des Mérigues</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
      <%= stylesheet_link_tag "application" %>
      <%= stylesheet_link_tag "bootstrap_template" %>
      <%= javascript_importmap_tags %>
    </head>
    <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-seedling"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Jardin des Mérigues</div>
          </a>
          <!-- Divider -->
          <hr class="sidebar-divider my-0">
          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="bi bi-house"></i>
              <span>Accueil</span></a>
            <% end %>
          </li>
          <!-- Divider -->
          <hr class="sidebar-divider">
          <!-- Heading -->
          <div class="sidebar-heading">
            AMAP
          </div>
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
              <i class="bi bi-people"></i>
              <span>L'AMAP</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to calendar_baskets_path, class: "nav-link" do %>
              <i class="bi bi-basket3"></i>
              <span>Liste paniers</span></a>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-envelope-at-fill"></i>
            <span>Contacts</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-carrot"></i>
            <span>Les recettes</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <% if Current.customer && Current.customer.admin? %>
          <div class="sidebar-heading">
            Espace administrateur
          </div>
          <li class="nav-item">
            <%= link_to baskets_path, class: "nav-link" do %>
              <i class="bi bi-basket3"></i>
              <span>Liste paniers</span></a>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_index_customer_path, class: "nav-link" do %>
            <i class="bi bi-person-lines-fill"></i>
            <span>Liste clients</span></a>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to session_destroy_path, class: "nav-link" do %>
          <i class="bi bi-box-arrow-in-left"></i>
          <span>Se déconnecter</span></a>
      <% end %>
    </li>
  <% elsif Current.customer %>
    <div class="sidebar-heading">
      Espace client
    </div>
    <li class="nav-item">
      <%= link_to order_customer_path, class: "nav-link" do %>
        <i class="bi bi-basket3"></i>
        <span>Mes commandes</span></a>
    <% end %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="bi bi-credit-card-2-front"></i>
      <span>Espace paiement</span></a>
  </li>
  <li class="nav-item">
    <%= link_to customer_path(Current.customer), class: "nav-link" do %>
      <i class="bi bi-person-lines-fill"></i>
      <span>Mes informations</span></a>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to session_destroy_path, class: "nav-link" do %>
    <i class="bi bi-box-arrow-in-left"></i>
    <span>Se déconnecter</span></a>
<% end %>
</li>
<% else %>
  <div class="sidebar-heading">
    Espace client
  </div>
  <li class="nav-item">
    <%= link_to customers_path, class: "nav-link" do %>
      <i class="bi bi-box-arrow-in-right"></i>
      <span>Je me connecte</span></a>
  <% end %>
</li>
<% end %>
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
<!-- Sidebar Message -->
<%# <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
          </div> %>
<!-- End of Sidebar -->
</ul>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <%# <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"> %>
      <!-- Sidebar Toggle (Topbar) -->
    <%# </nav> %>
    <div class="content"">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      <%= yield %>
    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white" style="margin-top: 20px">
      <div class="copyright text-center my-auto">
        <p>Contact : </p>
        <p>Yvan Clastres, 13 Clos des Mérigues 31320 Aureville </p>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
</body>
</html>
